<h1>Classic Cipher Implementation</h1>

<%= form_with(url:"home/submit", multipart:true) do |f| %>
  <%= f.label "Input Type:" %>
  <%= f.select :select_type, options_for_select(Array["text", "file"], selected: @select_type) %> <br/>
  <div id="input_text_field" style="display: none">
    <%= f.label :input_text %>
    <%= f.text_field :input_text, value: @input_text %> <br/>
  </div>
  <div id="input_file_field" style="display: none">
    <%= f.label :input_file %>
    <%= f.file_field :input_file, value: @input_file %> <br/>
  </div>
  <%= f.label "Cipher Type:" %>
  <%= f.select :cipher_type, options_for_select(Array["Vigenere Cipher", "Auto-Key Vigenere Cipher", "Extended Vigenere Cipher", "Playfair Cipher", "Affine Cipher", "Hill Cipher", "Super Enkripsi"], selected: @cipher_type)  %> <br/>
  <div id="string_key_div" style="display: none">
    <%= f.label "Key:" %>
    <%= f.text_field :string_key, value: @string_key %> <br/>
  </div>
  <div id="affine_key_div" style="display: none">
    <%= f.label "m:" %>
    <%= f.number_field :affine_m, value: @affine_m %> <br/>
    <%= f.label "b:" %>
    <%= f.number_field :affine_b, value: @affine_b %> <br/>
  </div>
  <div id="hill_key_div" style="display: none">
    <%= f.label "m:" %>
    <%= f.number_field :hill_m, value: @hill_m %> <br/>
    <div id="hill_detail_div">
      <%for i in 0...(@hill_m.to_i) %>
        <%for j in 0...(@hill_m.to_i) %>
          <%= f.number_field "hill_key_#{i}_#{j}", value: @hill_key[i*(@hill_m.to_i)+j] %>
        <%end%>
        <br/>
      <%end%>
    </div>
  </div>
  <%= f.submit "encrypt" %>
  <%= f.submit "decrypt" %>
<% end %>

<%= form_with(url:"home/download", method:"get") do |result| %>
  <%= result.text_area :result_plain, :value => @result_plain, readonly: true %>
  <%= result.text_area :result_base64, :value =>@result_base64, readonly: true %> <br/>
  <button id="download_button">Download</button>
<% end %>
<script>
    function downloadFile() {
        var text = document.getElementById('result_plain').value;
        var filename = "result.txt";
        var blob = new Blob([text], {type: "text/plain"});
        var elem = window.document.createElement('a');
        elem.href = window.URL.createObjectURL(blob);
        elem.download = filename;
        document.body.appendChild(elem);
        elem.click();
        document.body.removeChild(elem);
    }

    $(document).ready(function() {
        let cipherType = Array("Vigenere Cipher", "Auto-Key Vigenere Cipher", "Extended Vigenere Cipher", "Playfair Cipher", "Affine Cipher", "Hill Cipher", "Super Enkripsi");
        var selectedValue = $('#select_type').val();
          if (selectedValue === 'text') {
              $('#input_file_field').hide();
              $('#input_text_field').show();
          } else {
              $('#input_text_field').hide();
              $('#input_file_field').show();
          }
        $('#select_type').change(function() {
            var selectedValue = $(this).val();

            if (selectedValue === 'text') {
                $('#input_file_field').hide();
                $('#input_text_field').show();
            } else {
                $('#input_text_field').hide();
                $('#input_file_field').show();
            }
        });
        selectedValue = $('#cipher_type').val();
        if (selectedValue === cipherType[0] || selectedValue === cipherType[1] || selectedValue === cipherType[3]) {
            $('#string_key_div').show();
        } else {
            $('#string_key_div').hide();
        }
        if(selectedValue === cipherType[4]) {
            $('#affine_key_div').show();
        } else {
            $('#affine_key_div').hide();
        }
        if(selectedValue === cipherType[5]) {
            $('#hill_key_div').show();
        } else {
            $('#hill_key_div').hide();
        }
        $("#cipher_type").change(function() {
            var selectedValue = $(this).val();
            if (selectedValue === cipherType[0] || selectedValue === cipherType[1] || selectedValue === cipherType[3]) {
                $('#string_key_div').show();
            } else {
                $('#string_key_div').hide();
            }
            if(selectedValue === cipherType[4]) {
                $('#affine_key_div').show();
            } else {
                $('#affine_key_div').hide();
            }
            if(selectedValue === cipherType[5]) {
                $('#hill_key_div').show();
            } else {
                $('#hill_key_div').hide();
            }
        });

        // Hill Cipher
        let hillM = $('#hill_m');
        hillM.change(function() {
            let hillDiv = document.getElementById('hill_detail_div');
            let m = $(this).val();
            let mInt = parseInt(m);
            mInt = Math.max(1, mInt);
            hillDiv.innerHTML = "";
            for(let i=0;i<mInt;i++) {
                for(let j = 0;j<mInt;j++) {
                    hillDiv.insertAdjacentHTML('beforeend', `<input type="number" name=\`hill_key_${i}_${j}\` value="0" min="0" max="25">`);
                }
                hillDiv.insertAdjacentHTML('beforeend', '<br/>');
            }
        });

        //download
        $('#download_button').click(function() {
            downloadFile();
        });
    });
</script>